 <div class="row">
    <div class="col-md-12">
        <h2>Categories</h2>
        <hr />
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Category Id</th>
                        <th>Category Name</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each categories}}
                    <tr>
                        <td><a href="/products?category={{this.id}}">{{this.id}}</a> </td>
                        <td><a href="/products?category={{this.id}}">{{this.category}}</a></td>
                        <td><a href="/categories/delete/{{categoryId}}" class="btn btn-danger">remove</a></td>
                    </tr>
                     {{else}}
                        <tr>
                            <td >
                                  <strong>{{message}}</strong>
                            </td>
                        </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
     </div>
{{#unless categories}}
<div class="col-md-12 text-center">
<strong>{{message}}</strong>
</div>
{{/unless}}
</div>